@using Second_MVC_App.Models
@model Second_MVC_App.Models.Artist
@{
    ViewBag.Title = "ArtistProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Name</h2>

<div class="container">
    <div class="row">
        <div class="col" >
            <img src="@Model.Image" class="image-container"/>
        </div>
    </div>
</div>

